/*
	CodeQuest Frontend
	Written by Jonathan Verbeek - 2023
*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}
