/*
	CodeQuest Frontend
	Written by Jonathan Verbeek - 2023
*/

::-webkit-scrollbar-track {
    background: #222222;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
}

.blocklyTreeRow:hover {
    background-color: #666 !important;
}

.blocklyTreeSelected {
    background-color: #444 !important;
}

.blocklyTreeSelected .blocklyTreeLabel {
    color: white !important;
    font-weight: bold;
}

.zelos-renderer.dark-theme .blocklyNonEditableText>rect:not(.blocklyDropdownRect), .zelos-renderer.dark-theme .blocklyEditableText>rect:not(.blocklyDropdownRect) {
    fill: #333;
}

.zelos-renderer.dark-theme .blocklyNonEditableText>text, .zelos-renderer.dark-theme .blocklyEditableText>text, .zelos-renderer.dark-theme .blocklyNonEditableText>g>text, .zelos-renderer.dark-theme .blocklyEditableText>g>text {
    fill: #d9d9d9;
}

.zelos-renderer.dark-theme .blocklyHtmlInput {
    color: #d9d9d9;
}

.blocklyWidgetDiv .blocklyMenu {
    background-color: #272727;
    border: none;
}

.blocklyMenuItem:not(.blocklyMenuItemDisabled) {
    color: white;
}

.blocklyMenuItemDisabled {
    color: #666;
}
